
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: #2B857D;
  justify-content: center;
  color: #EDB668;
  font-size: 25px;
  position: relative;

}

.header-image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.header-pic {
display: inline;
margin: 0 auto;
margin-left: -25%;
height: 100%;
width: auto;
}


.navbar {
  position: relative;
  width: 100%;
}

.navbar-list {
  overflow: hidden;
  margin: 20px 20px ;
  background-color: #333;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  font-family: 'Poppins';
  text-align: center;
}
